#!/bin/bash

#### BACKUP CONFIGURATION ##################

DATABASE={{ postng_db_name }}

UPLOADS_DIR={{ postng_uploads_dir }}

# This dir will be created if it doesn't exist.  This must be writable by the user the script is running as.
BACKUP_DIR={{ postng_db_backup_dir }}/

# Which day to take the weekly backup from (1-7 = Monday-Sunday)
DAY_OF_WEEK_TO_KEEP=5

# Number of days to keep daily backups
DAYS_TO_KEEP=5

# How many weeks to keep weekly backups
WEEKS_TO_KEEP=4

#############################################

perform_backups()
{
	SUFFIX=$1
	FINAL_BACKUP_DIR=$BACKUP_DIR"`date +\%Y-\%m-\%d`$SUFFIX/"

  echo "Making backup directory in $FINAL_BACKUP_DIR"

  if ! mkdir -p $FINAL_BACKUP_DIR; then
    echo "Cannot create backup directory in $FINAL_BACKUP_DIR. Go and fix it!" 1>&2
    exit 1
  fi

  echo "\nPlain backup of $DATABASE"

  if ! pg_dump -w --create -U "postgres" "$DATABASE" | gzip > $FINAL_BACKUP_DIR"$DATABASE".sql.gz.in_progress; then
    echo "[!!ERROR!!] Failed to produce plain backup database $DATABASE" 1>&2
  else
    mv $FINAL_BACKUP_DIR"$DATABASE".sql.gz.in_progress $FINAL_BACKUP_DIR"$DATABASE".sql.gz
    chmod 755 $FINAL_BACKUP_DIR$DATABASE".sql.gz"
    chown www-data:www-data $FINAL_BACKUP_DIR$DATABASE".sql.gz"
    cp -f $FINAL_BACKUP_DIR$DATABASE".sql.gz" $BACKUP_DIR$DATABASE".today.sql.gz"
    chmod 755 $BACKUP_DIR$DATABASE".today.sql.gz"
    chown www-data:www-data $BACKUP_DIR$DATABASE".today.sql.gz"
    mkdir $FINAL_BACKUP_DIR"uploads"
    chown www-data:www-data $FINAL_BACKUP_DIR"uploads"
    cp -a $UPLOADS_DIR/* $FINAL_BACKUP_DIR"uploads/"
  fi

  echo "\nSystem backup complete!"
}


# WEEKLY BACKUPS

DAY_OF_WEEK=`date +%u` #1-7 (Monday-Sunday)
EXPIRED_DAYS=`expr $((($WEEKS_TO_KEEP * 7) + 1))`

if [ $DAY_OF_WEEK = $DAY_OF_WEEK_TO_KEEP ];
then
	# Delete all expired weekly directories
	find $BACKUP_DIR -maxdepth 1 -mtime +$EXPIRED_DAYS -name "*-weekly" -exec rm -rf '{}' ';'

	perform_backups "-weekly"

	exit 0;
fi

# DAILY BACKUPS

# Delete daily backups 7 days old or more
find $BACKUP_DIR -maxdepth 1 -mtime +$DAYS_TO_KEEP -name "*-daily" -exec rm -rf '{}' ';'

perform_backups "-daily"


# Nothing to do with backups; but need to fix
sudo chmod -R g+w $UPLOADS_DIR