#!/usr/bin/env bash

FILE={{ postng_tempdir }}/{{ postng_db_name }}.today.sql
if [ -f $FILE".gz" ];
then
    gzip -d $FILE".gz"
fi

if [ -f $FILE ];
then
    sudo -u postgres psql -d {{ postng_db_name }} -c "SELECT pg_terminate_backend(pg_stat_activity.pid) FROM pg_stat_activity WHERE pg_stat_activity.datname = '{{ postng_db_name }}' AND pid <> pg_backend_pid();"
    sudo -u postgres dropdb {{ postng_db_name }}
    sudo -u postgres createdb {{ postng_db_name }}
    sudo -u postgres psql -d {{ postng_db_name }} < $FILE
    sudo rm $FILE
    exit 0
fi
echo "You may need to obtain or download the database first.  If you're on the NFLC network you can use this command\n\n"
echo "scp username@pvansiblectrl.nflc.org:/usr/share/{{ postng_appname }}/{{ postng_db_name }}.today.sql.gz {{ postng_tempdir }}"
exit 1

