# Ansible-managed
{% for submod in postng_git_submodules %}

[submodule "{{ submod.name if submod.name is defined else submod.path }}"]
    path = {{ submod.path }}
    url = {{ submod.url }}
{% if submod.branch is defined %}
    branch = {{ submod.branch }}
{% endif %}
{% endfor %}

