# Ansible-managed

{% for upstream in postng_nginx_upstreams %}
    upstream {{ upstream.name }} {
{% if upstream.strategy is defined %}
        {{ upstream.strategy }};
{% endif %}
{% for server in upstream.servers %}
        server {{ server }};
{% endfor %}
    }
{% endfor %}

{% for vhost in postng_nginx_vhosts %}
server {
    listen {{ vhost.listen | default('80 default_server') }};
    server_name {{ vhost.server_name }};

    {% if vhost.root is defined %}
    root {{ vhost.root }};
    {% endif %}

    index {{ vhost.index | default('index.html index.htm') }};

    {% if vhost.error_page is defined %}
    error_page {{ vhost.error_page }};
    {% endif %}
    {% if vhost.access_log is defined %}
    access_log {{ vhost.access_log }};
    {% endif %}
    {% if vhost.error_log is defined %}
    error_log {{ vhost.error_log }} error;
    {% endif %}

    {% if vhost.return is defined %}
    return {{ vhost.return }};
    {% endif %}

    {% if vhost.extra_parameters is defined %}
    {{ vhost.extra_parameters }}
    {% endif %}
}
{% endfor %}