#!/bin/bash

POSTMAN_ENV={{ postng_postman_env }}
COLLECTION_FILES={{ postng_postman_collections }}

rm -f {{ postng_testresults }}/*

for COLLECTION in $COLLECTION_FILES
do
    FILENAME=$(basename "$COLLECTION" .json)
    OUTFILE={{ postng_testresults }}/${FILENAME}.html

    newman -c $COLLECTION -e $POSTMAN_ENV --html $OUTFILE > /dev/null2>&1
done

